.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(15, 1.5em);
  grid-template-rows: repeat(2, 1.5em);
  gap: 0.1em;
  width: fit-content;
  border: 1px solid rgba(5, 248, 5, 0.438);

}


.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccc73;
  color: #ffffff00;
  font-size: 0.9em;
  font-weight: bold;
  transition: background-color 0.6s ease;
  transition: color 1s ease;

}
.cube:hover{
  background-color: green;
  color: white;
}

.grid1{
  position: absolute;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.grid2{
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
}

.cube:nth-child(3) {
  background-color: blue;
}