<div *ngIf="!teacher_logged" class="login">

  <form [formGroup]="loginForm" (ngSubmit)="logIn()" id="login-form" class="login-form" autocomplete="off" role="main">
    <h1 class="a11y-hidden">Login Form</h1>
    <div>
      <label class="label-email">
        <input formControlName="id" type="text" class="text" name="Enter Your ID" placeholder="Enter College-ID" tabindex="1" required />
        <span class="required">College ID</span>
      </label>
    </div>
    <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
    <label class="label-show-password" for="show-password">
      <span>Show Password</span>
    </label>
    <div>
      <label class="label-password">
        <input formControlName="password" type="text" class="text" name="password" placeholder="Password" tabindex="2" required />
        <span class="required">Password</span>
      </label>
    </div>
    <input type="submit" value="Log In" />
    <!-- <div class="email">
      <a href="#">Forgot password?</a>
    </div> -->
    <figure aria-hidden="true">
      <div class="person-body"></div>
      <div class="neck skin"></div>
      <div class="head skin">
        <div class="eyes"></div>
        <div class="mouth"></div>
      </div>
      <div class="hair"></div>
      <div class="ears"></div>
      <div class="shirt-1"></div>
      <div class="shirt-2"></div>
    </figure>
  </form>
	


</div>


<div *ngIf="teacher_logged" class="app-container">
  <div class="sidebar">
    <div class="sidebar-header" style="background: rgba(245, 245, 245, 0.842)">
      <div class="app-icon">
        <img src="assets/college_logo.png" alt="" width="100%" height="32px" srcset="" >
      </div>
    </div>
    <ul class="sidebar-list">
      <li class="sidebar-list-item" routerLinkActive="active">
        <a routerLink="/home">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-home">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
            <polyline points="9 22 9 12 15 12 15 22" />
          </svg>
          <span>Attendence</span>
        </a>
      </li>
      <li class="sidebar-list-item" routerLinkActive="active">
        <a routerLink="/teacher">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-shopping-bag">
            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
            <line x1="3" y1="6" x2="21" y2="6" />
            <path d="M16 10a4 4 0 0 1-8 0" />
          </svg>
          <span>Teacher</span>
        </a>
      </li>
      <li class="sidebar-list-item" routerLinkActive="active">
        <a routerLink="/admin">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-pie-chart">
            <path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
            <path d="M22 12A10 10 0 0 0 12 2v10z" />
          </svg>
          <span>Admin</span>
        </a>
      </li>

      <li class="sidebar-list-item" routerLinkActive="active">
        <a routerLink="/student">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-inbox">
          <polyline points="22 12 16 12 14 15 10 15 8 12 2 12" />
          <path
            d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" />
        </svg>
          <span>Student</span>
        </a>
      </li>
    </ul>


    <div class="account-info">
      <div class="account-info-picture">
        <img
        [src]="teacher_profile"
           alt="Account">
      </div>
      <div class="account-info-name">{{teacher_name}}</div>

      <button (click)="logout()" class="account-info-more" >

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
      </button>


     

    </div>
  </div>
  <div class="mobileNav">
    <ul class="menu">

      <li title="logo"><a class="menu-button home">Logo</a></li>
      
      <li title="Home" routerLink="/home"><a  class="search" routerLinkActive="active">Home</a></li>
      <li title="Teacher" routerLink="/about"><a class="pencil" routerLinkActive="active">Teacher</a></li>
      <li title="Admin" routerLink="/contact"><a  class="active about" routerLinkActive="active">Admin</a></li>

    </ul>
    
  </div>
  <!-- test -->
  <div class="app-content">
    <div class="app-content-header">
      <h1 class="app-content-headerText">Products</h1>

     <!-- mobile nav -->

    
    <!-- dark -->
      <button (click)="switchMode()" class="mode-switch" title="Switch Theme">
        <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
          <defs></defs>
          <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
        </svg>
      </button>

       <!--  -->
 <div class="btn-group">
  <button style="height: 35px;background-color: grey;" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Select Devices
  </button>
      
  <ul class="dropdown-menu">
    <!-- <li *ngFor="let c of scanner!.devices.value"><a class="dropdown-item" href="#">Action</a></li>
     -->
     <!-- <option *ngFor="let c of scanner!.devices.value; let i = index" [value]="c.deviceId" [selected]="i == scanner?.deviceActive">{{c.label}}</option> -->
  </ul>
</div>

      <!-- dark -->
      <div id="menu_button" class="menu__button">
        <!-- <input (click)="mobileNav()" type="checkbox" id="menu_checkbox"> -->
        <label for="menu_checkbox" id="menu_label">
          <div id="menu_text_bar"></div>
        </label>
      </div>

    


      <!-- <button (click)="connectWallet()" class="app-content-headerButton">Connect To Wallet</button> -->
    </div>
    
      <router-outlet></router-outlet>

  </div>
</div>

<!-- mpbile NAv -->
<section class="menu__body" hidden="hidden">
  <div class="d-flex justify-content-between align-items-center">
    <h3>Navigate</h3>
    <!-- <button (click)="mobileNav()" type="button" class="btn btn-link" aria-label="Close"> -->
      <span aria-hidden="true">&times;</span>
    <!-- </button> -->
  </div>

  <ul class="list-group">
    <li routerLink="/home" routerLinkActive="active" class="list-group-item"><i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" class="feather feather-home">
          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
          <polyline points="9 22 9 12 15 12 15 22" />
        </svg> - </i> Home</li>
    <li routerLink="/teacher" routerLinkActive="active" class="list-group-item"><i>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-shopping-bag">
          <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
          <line x1="3" y1="6" x2="21" y2="6" />
          <path d="M16 10a4 4 0 0 1-8 0" />
        </svg> -
    </i> Teacher</li>
    <li routerLink="/about" routerLinkActive="active" class="list-group-item"><i>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-pie-chart">
          <path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
          <path d="M22 12A10 10 0 0 0 12 2v10z" />
        </svg> -
    </i> Admin</li>
    <li routerLink="/oo" routerLinkActive="active" class="list-group-item"><i>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-inbox">
          <polyline points="22 12 16 12 14 15 10 15 8 12 2 12" />
          <path
            d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" />
        </svg>
    </i> Contactdd</li>
  </ul>

</section>

