

.app-container {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 1280px;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 2000px;
  margin: 0 auto;
}

.sidebar {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 0;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.sidebar-list {
  list-style-type: none;
  padding: 0;
}
.sidebar-list-item {
  position: relative;
  margin-bottom: 4px;
}
.sidebar-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: var(--sidebar-link);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}
.sidebar-list-item svg {
  margin-right: 8px;
}
.sidebar-list-item:hover {
  background-color: var(--sidebar-hover-link);
}
.sidebar-list-item.active {
  background-color: var(--sidebar-active-link);
}
.sidebar-list-item.active:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--action-color);
  height: 100%;
  width: 4px;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .mobileNav{
    display: block;
  }
}


.mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--app-content-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
  cursor: pointer;
}
.mode-switch .moon {
  fill: var(--app-content-main-color);
}

.mode-switch.active .moon {
  fill: none;
}

.account-info {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: auto;
}
.account-info-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.account-info-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.account-info-name {
  font-size: 14px;
  color: var(--sidebar-main-color);
  margin: 0 8px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.account-info-more {
  color: var(--sidebar-main-color);
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.app-icon {
  color: var(--sidebar-main-color);
}
.app-icon svg {
  width: 24px;
  height: 24px;
}

.app-content {
  padding: 16px;
  background-color: var(--app-bg);
  height: 100%;
  flex: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.app-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}
.app-content-headerText {
  color: var(--app-content-main-color);
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}
.app-content-headerButton {
  background-color: var(--action-color);
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  height: 32px;
  padding: 0 16px;
  transition: 0.2s;
  cursor: pointer;
}
.app-content-headerButton:hover {
  background-color: var(--action-color-hover);
}
.app-content-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4px;
}
.app-content-actions-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 520px) {
  .app-content-actions {
    flex-direction: column;
  }
  
  .app-content-actions .app-content-actions-wrapper {
    padding-bottom: 16px;
    order: 1;
  }
}


/* mobile nav */

@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");

.menu{
    position: fixed;
    bottom: 0;
    display: grid;
  align-content: center;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* background: #f7f7f7; */
    z-index:10;  
    overflow:hidden;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}
.menu li a{
  display: inline-block;
  text-indent: -500em;
  height: 5em;
  width: 3em;
  line-height: 5em;
  text-align:center;
  /* color: #72739f; */
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
}
.menu li a:before {
  font-family: FontAwesome;
  /* speak: none; */
  text-indent: 0em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}
.menu li a.search:before {
  content: "\f029";
}
.menu li a.archive:before {
  content: "\f187";
}
.menu li a.pencil:before {
  content: "\f040";
}
.menu li a.contact:before {
  content: "\f007";
}
.menu li a.about:before {
  content: "\f003";
}

.activeLink,
.menu li a:hover {
  background: #267fdd;
  color: #fff;
}




.para{
    color:#033f72;
    padding-left:100px;
    font-size:3em;
    margin-bottom:20px;
}

.open{
    width:10em;
    height:100%;
}

@media all and (max-width: 500px) {
   
    .menu{
        height:5em;
        width:100%;
    }
    .menu li{
        display:inline-block;
    }
    
    .open{
        width:100%;
        height:auto;
    }
    .para{
    padding-left:5px;
}  
}
@media screen and (max-height: 34em){
  .menu li {
    font-size:70%;
  }
}
@media screen and (max-height: 34em) and (max-width: 500px){
  .menu{
        height:3.5em;
    }
}
.mobileNav{
  display: none;
}
@media screen and (min-width: 512px) and (max-width:1024px) {

  .mobileNav{
    display: block;
  }
}



/* mobile nav */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.fab {
  display: none;
  z-index: 100;
  cursor: pointer;
  color: #ffffff;
  position: fixed;
  bottom: 1rem;
  /* right: 1rem; */
}
@media screen and (max-width: 512px) {
  .fab{
    display: block;
  }
}
.fab > .fab-trigger {
  position: relative;
  left:8px;
  z-index: 101;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #10c15c;
  height: 50px;
  width: 50px;
  transform: translate(0);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
}
.fab > .fab-trigger > .fab-icon {
  transition: all 0.3s;
  transform: rotate(45deg);
  height: 32px;
  width: 32px;
}
.fab > .fab-items {
  user-select: none;
  z-index: 101;
  position: absolute;
  bottom: 0px;
  right: 5px;
  display: flex;
  flex-direction: column-reverse;
  transform: translatey(calc(64px + 32px + 100%));
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-out;
}
.fab > .fab-items > .fab-item {
  font-weight: bold;
  color: #f8f8f8;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 50px;
}
.fab > .fab-items > .fab-item > .icon {
  margin-right: 0.75rem;
}
.fab > .fab-items > .fab-item > .icon > svg {
  width: 32px;
  height: 24px;
  fill: currentcolor;
}
.fab > .fab-items > .fab-item > .title {
  font-size: 25px;
  line-height: 25px;
}
.fab.open > .fab-trigger {
  background-color: #ffffff;
  color: #10c15c;
}
.fab.open > .fab-trigger > .fab-icon {
  transform: rotate(0);
}
.fab.open > .fab-items {
  opacity: 1;
  transform: translatey(0);
}
.fab > .fab-backdrop {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 90px;
  width: 90px;
  background: #10c15c;
  opacity: 0;
  border-top-left-radius: 9999px;
  transform: scale(0);
  transform-origin: bottom right;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 0 32px #10c15c88, 0 0 0 64px #10c15c33;
}
.fab.open > .fab-backdrop {
  opacity: 0.75;
  transform: scale(1);
}
.fab * {
  user-select: none;
}