<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

<div class="mainbody">
    <div style="width: 100%;" class="p-4">
        <div class="welcome">
            <div class="content rounded-3 p-3">
                <h1 class="fs-3">Welcome to Admin Dashboard</h1>
                <p class="mb-0">Here You Can Add And Edit Data Of Student/Teachers.</p>
            </div>
        </div>

        <section class="statistics mt-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                        <i class="uil-envelope-shield fs-2 text-center bg-primary rounded-circle"></i>
                        <div class="ms-3">
                            <div class="d-flex align-items-center">
                                <h3 class="mb-0">10</h3> <span class="d-block ms-2">Total Data</span>
                            </div>
                            <p class="fs-normal mb-0">...................</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                        <i class="uil-file fs-2 text-center bg-danger rounded-circle"></i>
                        <div class="ms-3">
                            <div class="d-flex align-items-center">
                                <h3 class="mb-0">5</h3> <span class="d-block ms-2">Teachers</span>
                            </div>
                            <p class="fs-normal mb-0">..............</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box d-flex rounded-2 align-items-center p-3">
                        <i class="uil-users-alt fs-2 text-center bg-success rounded-circle"></i>
                        <div class="ms-3">
                            <div class="d-flex align-items-center">
                                <h3 class="mb-0">6</h3> <span class="d-block ms-2">Students</span>
                            </div>
                            <p class="fs-normal mb-0">.......................</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- tabbar -->
        <div class="p-4">
            <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap" rel="stylesheet">

            <div class="layout">
                <input name="nav" type="radio" class="nav home-radio" id="home" checked="checked" />
                <div class="page home-page">

                    <!-- table -->
                    <div class="container mt-5 px-2">

                        <div class="mb-2 d-flex justify-content-between align-items-center">

                            <div class="position-relative">
                                <span class="position-absolute search"><i class="fa fa-search"></i></span>
                                <input class="form-control w-100" placeholder="Search by order#, name...">
                            </div>

                            <div class="px-2">

                                <span>Filters <i class="fa fa-angle-down"></i></span>
                                <i class="fa fa-ellipsis-h ms-3"></i>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive table-borderless">

                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col" width="5%">Edit</th>
                                        <th scope="col" width="10%">ID</th>

                                        <th scope="col" width="40%">Teacher</th>
                                        <th scope="col" width="25%">Subject</th>
                                        <th scope="col" class="text-end" width="20%"><span>Class-Taken</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of teachers | keyvalue">

                                        <th scope="row">
                                            <li class="list-inline-item">
                                                <button (click)="editDatas(user.value.id)" class="btn btn-success btn-sm rounded-0" type="button"
                                                    data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                        class="fa fa-edit"></i></button>
                                            </li>
                                        </th>
                                        <td>{{user.value.id}}</td>

                                        <td><img class="user_image" *ngIf="user.value.img_data" [src]="user.value.img_data"> | {{
                                            user.value.user_name }}</td>
                                        <td>{{
                                            user.value.subject }}</td>
                                        <td class="text-end"><span class="fw-bolder">{{
                                            user.value.stream }}</span> <i
                                                class="fa fa-ellipsis-h  ms-2"></i></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
                <label class="nav" for="home">
                    <span>
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                            fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        Teacher
                    </span>
                </label>



                <input name="nav" type="radio" class="contact-radio" id="contact" />
                <div class="page contact-page">

                    <!-- table -->
                    <div class="container mt-5 px-2">

                        <div class="mb-2 d-flex justify-content-between align-items-center">

                            <div class="position-relative">
                                <span class="position-absolute search"><i class="fa fa-search"></i></span>
                                <input class="form-control w-100" placeholder="Search by order#, name...">
                            </div>

                            <div class="px-2">

                                <span>Filters <i class="fa fa-angle-down"></i></span>
                                <i class="fa fa-ellipsis-h ms-3"></i>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive table-borderless">

                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col" width="5%">Edit</th>
                                        <th scope="col" width="10%">ID</th>

                                        <th scope="col" width="40%">Student Profile</th>
                                        <th scope="col" width="25%">Stream</th>
                                        <th scope="col" class="text-end" width="20%"><span>Roll-No</span></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let item of students | keyvalue">

                                        <th scope="row">
                                            <li class="list-inline-item">
                                                <button class="btn btn-success btn-sm rounded-0" type="button"
                                                    data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                        class="fa fa-edit"></i></button>
                                            </li>
                                        </th>
                                        <td>{{item.value.id}}</td>

                                        <td><img class="user_image" *ngIf="item.value.img_data" [src]="item.value.img_data"> | {{
                                            item.value.user_name }}</td>
                                        <td>{{item.value.stream}}</td>
                                        <td class="text-end"><span class="fw-bolder">{{item.value.roll}}</span> <i
                                                class="fa fa-ellipsis-h  ms-2"></i></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
                <label class="nav" for="contact">
                    <span>
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                            fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                            <path
                                d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                            </path>
                        </svg>
                        Student
                    </span>

                </label>
            </div>

        </div>
        
    </div>

<!-- edit -->

<!-- modal -->

<div id="edits" class="edit">
    
    <div class="form-bg">
        <div class="container">
               
                    <div style="width: 600px;" class="form-container">
                        <div class="form-icon">
        
                            <div class="avatar">
                                <img style="width: 95px; height: 95px; object-fit: cover;" [src]="tempProfile" alt="Avatar">
                            </div>	
                            <p></p>
                            <button type="button" class="btn btn-success">Edit Image</button>
                        </div>
                        <form [formGroup]="signupForm" onsubmit="return false" class="form-horizontal">
                            <h3 class="title">Edit Profile</h3>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-home"></i></span>
                                <input required class="form-control" type="text" placeholder="User-Name" id="name" formControlName="name" >
                            </div>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-bars"></i></span>
                                <input required class="form-control" type="text" placeholder="User-Id" formControlName="id">
                            </div>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-folder"></i></span>
                                <input required class="form-control" type="text" placeholder="Subject" formControlName="subject">
                            </div>
                            
                            <button style="background-color: #897275;" class="btn">CANCEL</button>
                            <button (click)="updateData()" type="submit" class="btn signin">SUBMIT</button>
                
                        </form>
                    </div>
                </div>
       
    </div>
</div> 